<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.chiba.tackn.monoviewer" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".table.TrainTable"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".table.TimeTable"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>

        <provider
            android:name=".sql.SQLTblProvider"
            android:authorities="jp.chiba.tackn.monoviewer.sql"
            android:exported="false">
        </provider>
    </application>

</manifest>
