h1 {color:#CC0000;}
h2 {padding:10px 0px 0px 0px;}
h3 {
    color:#008080;
    text-align:center;
}
p {
    color:#333333;
}
body {
    background:#333;
}
em {
    color: darkolivegreen;
}

#container {
    background: #fff;
    margin:3px 5px;
    border:1px solid #999;
    padding: 5px;
}

#pageheader{
    margin:0px;
    padding: 0px;
}

#summary {
    margin:0px;
    padding: 0px;
}

#usecase {
    margin:0px;
    padding: 0px;
}

#manual {
    margin:0px;
    padding: 0px;
}

.column {
    margin:30px 0px;
    padding: 0px;
}
.img {
    margin:10px;
    padding: 0px;
    width: 150px;
    height: 245px;
    float: left;
}
.icon{
    margin: 0px;
    padding: 0px;
    float:left;
    height: 24px;
    width: 24px;
    
    margin-right: 5px;
}

.paragraph {
    margin:0px;
    padding: 0px;
}
.clearfloat{
    clear: both;
}

#develop {
    margin:0px;
    padding: 0px;
}
#contact{
    margin:0px;
    padding: 0px;
}

address {
    margin:0px;
    padding: 0px;
    color: #fff;
    background: #280;
    text-align:center;
}